.projets-web {
  color: gray;
  display: flex;
  padding-left: 5%;
  // align-items: center;
  padding-right: 5%;
}

.projets-web-picture {
  display: flex;
  justify-content: center;
}

.projets-web-picture img {
  height: 32rem;
  margin: auto;
}

.projets-web-structure {
  width: 50%;
  margin-left: 48px;
  margin-right: 48px;
  padding: 12px;

  h1 {
    text-align: center;
  }

  p {
    text-align: justify;

    line-height: 200%;
  }
}

.projets-web-deroulement {
  padding-top: 160px;
}

.projets-web-details {
  display: flex;
  img {
    width: 100px;
    height: 100px;
    padding: 12px;
    border-radius: 20%;
  }
  p {
    color: gray;
    text-decoration: none;
  }
  h2 {
    color: #a0a0a0;
  }
}

.projet-texte {
   padding-left: 40px;
}

.projet-icon {
  padding-top : 24px;
}
