
.references-blog {
  margin: 8px;
  padding: 12px;
  padding-left: 120px;
  h1 {
    color: gray;
    padding-left: 120px;
  }
  p {
    color: gray;
  }
}
.references-details {
  border: solid 1px white
}
