.banner {
  background-size: cover;
  background-position: center;
  padding: 300px 0;
  // background: linear-gradient(rgba(0,0,0,0.4));
  // background-color: rgba(0,0,0,0.4);
  background-image: url(work.jpg);
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}





.data-aos h2 {
  color: white;
}

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   font-family: Helvetica;
// }


.welcome-from-right {
  width: 70%;
  margin-right: 30%;
  // text-align: left;
  display: grid;
  place-items: center;
  background-color: #97dffc
  // background-color: rgb(37, 50, 55);
}

.welcome-from-left {
  width: 70%;
  margin-left: 30%;
  // text-align: right;
  display: grid;
  place-items: center;
  background-color: #c94177;
  // background-color: rgb(37, 50, 55);
}

.welcome p {
  padding: 2.5rem;
  border-style: solid;
  border-width: 2px;
  border-radius: 0.25rem;
  color: rgb(194, 223, 227);
}

.test {
  width: 50%;
  background: grey;
  border: 6px solid white;
  margin: 12vh 0;
  margin-left: 12px;
  margin-right: 12px;
  padding: 32px;
  text-align: justify;
}

[data-aos="customAnimationName"] {
    opacity: 0;
    // margin-left: -550px;
    transform: rotate(90deg);
    transition-property: opacity, margin-left, transform;
}
[data-aos="customAnimationName"].aos-animate {
    opacity: 1;
    margin-left: 0;
    transform: rotate(0);
}
