// body {
//   background: red !important;
// }

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #fbc547;
  transition: background 0.3s ease;
}

.btn-container {
  text-align: center;
}

.btn-flat:hover {
  background: #d39400;
  color: white;
}

